<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BIPWallet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>BIPWalletTestnet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA9E518C23ED9972007263B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9E51A223ED9976007263B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9E51AD23ED9976007263B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAAAD87E24977B7A00D7F5FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
